main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
section {
  position: relative;
  min-width: 70vw;
  min-height: 70vh;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 100px #29282837;
  /* border: 1px solid red; */
}
section h1 {
  font-size: 3rem;
  line-height: 0;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(241, 20, 64, 0.888);
  /* text-shadow: 0 0 3px rgba(241, 20, 64, 0.888); */
}
p{
  color: red;
}
.nameimg {
  align-items: end;
}
.profileimg {
  display: flex;
  justify-content: end;
  height: 200px;
}
.profileimg img {
  position: absolute;
  height: auto;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  z-index: -1;
}
.choosefile {
  height: 40px;
  width: 40px;
  padding: 0;
  opacity: 0;
}
.profileimg input,
.choosedepartment {
  font-size: 20px;
  color: rgba(39, 40, 42, 0.735);
}
#choosefileicon {
  position: absolute;
  font-size: 35px;
  color: rgba(13, 207, 155, 0.429);
}
.grid-item {
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: end;
  gap: 0px 10px;
  padding: 0px;
}
.input, .choosedepartment {
  width: 95%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #2345;
  font-size: 20px;
  padding-left: 20px;
}

.choosedepartment {
  
}
.choosedepartment {
  width: 100%;
  border-radius: 5px;
  background: none;
  border: 1px solid #2345;
}

.gendate {
  font-size: 22px;
  line-height: 50px;
  color: rgba(39, 40, 42, 0.735);
}
.radio {
  height: 18px;
  width: 18px;
}
.regular{
  height: 18px;
  width: 18px;
}
.date {
  display: grid;
  grid-template-columns: auto auto;
}
.date input {
  color: rgba(39, 40, 42, 0.735);
}

button {
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(241, 20, 64, 0.888);
  font-weight: 600;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  grid-column-end: span 3;
}
.error {
  position: absolute;
  color: red;

}
